CompileFlags:
  Add:
    - -std=c++17
    - --include-directry=/opt/ros/humble/include/
    - --include-directry=/opt/ros/humble/include/image_proc
    - --include-directry=/opt/ros/humble/include/moveit_setup_controllers
    - --include-directry=/opt/ros/humble/include/rosgraph_msgs
    - --include-directry=/opt/ros/humble/include/rclcpp
    - --include-directry=/opt/ros/humble/include/joy
    - --include-directry=/opt/ros/humble/include/urdf
    - --include-directry=/opt/ros/humble/include/sdformat_urdf
    - --include-directry=/opt/ros/humble/include/moveit_msgs
    - --include-directry=/opt/ros/humble/include/rcl_action
    - --include-directry=/opt/ros/humble/include/rviz_rendering
    - --include-directry=/opt/ros/humble/include/statistics_msgs
    - --include-directry=/opt/ros/humble/include/rcutils
    - --include-directry=/opt/ros/humble/include/rviz_visual_tools
    - --include-directry=/opt/ros/humble/include/laser_geometry
    - --include-directry=/opt/ros/humble/include/rosidl_typesupport_cpp
    - --include-directry=/opt/ros/humble/include/moodycamel
    - --include-directry=/opt/ros/humble/include/ros2_control_test_assets
    - --include-directry=/opt/ros/humble/include/hardware_interface
    - --include-directry=/opt/ros/humble/include/rmw_dds_common
    - --include-directry=/opt/ros/humble/include/cv_bridge
    - --include-directry=/opt/ros/humble/include/nav2_bt_navigator
    - --include-directry=/opt/ros/humble/include/nav2_util
    - --include-directry=/opt/ros/humble/include/tricycle_controller
    - --include-directry=/opt/ros/humble/include/tf2_msgs
    - --include-directry=/opt/ros/humble/include/tf2_eigen_kdl
    - --include-directry=/opt/ros/humble/include/effort_controllers
    - --include-directry=/opt/ros/humble/include/rosbag2_compression_zstd
    - --include-directry=/opt/ros/humble/include/costmap_queue
    - --include-directry=/opt/ros/humble/include/nav2_planner
    - --include-directry=/opt/ros/humble/include/tcb_span
    - --include-directry=/opt/ros/humble/include/tf2_ros
    - --include-directry=/opt/ros/humble/include/gazebo_plugins
    - --include-directry=/opt/ros/humble/include/stereo_image_proc
    - --include-directry=/opt/ros/humble/include/moveit_core
    - --include-directry=/opt/ros/humble/include/depth_image_proc
    - --include-directry=/opt/ros/humble/include/moveit_setup_framework
    - --include-directry=/opt/ros/humble/include/rcl_lifecycle
    - --include-directry=/opt/ros/humble/include/rosidl_typesupport_introspection_c
    - --include-directry=/opt/ros/humble/include/rmw_fastrtps_cpp
    - --include-directry=/opt/ros/humble/include/ros_ign_interfaces
    - --include-directry=/opt/ros/humble/include/nav2_constrained_smoother
    - --include-directry=/opt/ros/humble/include/pcl_ros
    - --include-directry=/opt/ros/humble/include/action_msgs
    - --include-directry=/opt/ros/humble/include/rcl_logging_interface
    - --include-directry=/opt/ros/humble/include/robot_state_publisher
    - --include-directry=/opt/ros/humble/include/foonathan_memory
    - --include-directry=/opt/ros/humble/include/eigenpy
    - --include-directry=/opt/ros/humble/include/rosidl_runtime_cpp
    - --include-directry=/opt/ros/humble/include/slam_toolbox
    - --include-directry=/opt/ros/humble/include/rqt_image_view
    - --include-directry=/opt/ros/humble/include/rosidl_typesupport_fastrtps_cpp
    - --include-directry=/opt/ros/humble/include/pinocchio
    - --include-directry=/opt/ros/humble/include/moveit_ros_control_interface
    - --include-directry=/opt/ros/humble/include/srdfdom
    - --include-directry=/opt/ros/humble/include/moveit_setup_core_plugins
    - --include-directry=/opt/ros/humble/include/fastcdr
    - --include-directry=/opt/ros/humble/include/diff_drive_controller
    - --include-directry=/opt/ros/humble/include/tricycle_steering_controller
    - --include-directry=/opt/ros/humble/include/dwb_critics
    - --include-directry=/opt/ros/humble/include/actuator_msgs
    - --include-directry=/opt/ros/humble/include/kdl_parser
    - --include-directry=/opt/ros/humble/include/controller_manager_msgs
    - --include-directry=/opt/ros/humble/include/random_numbers
    - --include-directry=/opt/ros/humble/include/warehouse_ros
    - --include-directry=/opt/ros/humble/include/geometry_msgs
    - --include-directry=/opt/ros/humble/include/force_torque_sensor_broadcaster
    - --include-directry=/opt/ros/humble/include/pendulum_msgs
    - --include-directry=/opt/ros/humble/include/tf2_geometry_msgs
    - --include-directry=/opt/ros/humble/include/std_msgs
    - --include-directry=/opt/ros/humble/include/rclcpp_components
    - --include-directry=/opt/ros/humble/include/graph_msgs
    - --include-directry=/opt/ros/humble/include/filters
    - --include-directry=/opt/ros/humble/include/rviz_default_plugins
    - --include-directry=/opt/ros/humble/include/camera_info_manager
    - --include-directry=/opt/ros/humble/include/tlsf
    - --include-directry=/opt/ros/humble/include/gps_msgs
    - --include-directry=/opt/ros/humble/include/ros_gz_interfaces
    - --include-directry=/opt/ros/humble/include/bondcpp
    - --include-directry=/opt/ros/humble/include/composition_interfaces
    - --include-directry=/opt/ros/humble/include/pid_controller
    - --include-directry=/opt/ros/humble/include/rclcpp_lifecycle
    - --include-directry=/opt/ros/humble/include/tracetools
    - --include-directry=/opt/ros/humble/include/nav2_smoother
    - --include-directry=/opt/ros/humble/include/image_tools
    - --include-directry=/opt/ros/humble/include/nav2_navfn_planner
    - --include-directry=/opt/ros/humble/include/camera_calibration_parsers
    - --include-directry=/opt/ros/humble/include/rosidl_typesupport_introspection_cpp
    - --include-directry=/opt/ros/humble/include/mock_components
    - --include-directry=/opt/ros/humble/include/compressed_depth_image_transport
    - --include-directry=/opt/ros/humble/include/nav2_collision_monitor
    - --include-directry=/opt/ros/humble/include/map_msgs
    - --include-directry=/opt/ros/humble/include/rosidl_typesupport_c
    - --include-directry=/opt/ros/humble/include/rmw
    - --include-directry=/opt/ros/humble/include/octomap_msgs
    - --include-directry=/opt/ros/humble/include/nav2_behavior_tree
    - --include-directry=/opt/ros/humble/include/backward_ros
    - --include-directry=/opt/ros/humble/include/nav2_mppi_controller
    - --include-directry=/opt/ros/humble/include/shape_msgs
    - --include-directry=/opt/ros/humble/include/dwb_core
    - --include-directry=/opt/ros/humble/include/rviz_common
    - --include-directry=/opt/ros/humble/include/chomp_motion_planner
    - --include-directry=/opt/ros/humble/include/joint_trajectory_controller
    - --include-directry=/opt/ros/humble/include/nav2_msgs
    - --include-directry=/opt/ros/humble/include/rcl_yaml_param_parser
    - --include-directry=/opt/ros/humble/include/controller_manager
    - --include-directry=/opt/ros/humble/include/rqt_gui_cpp
    - --include-directry=/opt/ros/humble/include/kinematics_interface
    - --include-directry=/opt/ros/humble/include/rosidl_runtime_c
    - --include-directry=/opt/ros/humble/include/interactive_markers
    - --include-directry=/opt/ros/humble/include/nav2_waypoint_follower
    - --include-directry=/opt/ros/humble/include/tf2_bullet
    - --include-directry=/opt/ros/humble/include/rcpputils
    - --include-directry=/opt/ros/humble/include/tf2
    - --include-directry=/opt/ros/humble/include/moveit_setup_app_plugins
    - --include-directry=/opt/ros/humble/include/ros_gz_bridge
    - --include-directry=/opt/ros/humble/include/dwb_msgs
    - --include-directry=/opt/ros/humble/include/angles
    - --include-directry=/opt/ros/humble/include/trajectory_msgs
    - --include-directry=/opt/ros/humble/include/stereo_msgs
    - --include-directry=/opt/ros/humble/include/gazebo_ros
    - --include-directry=/opt/ros/humble/include/idl
    - --include-directry=/opt/ros/humble/include/theora_image_transport
    - --include-directry=/opt/ros/humble/include/bicycle_steering_controller
    - --include-directry=/opt/ros/humble/include/class_loader
    - --include-directry=/opt/ros/humble/include/nav_2d_msgs
    - --include-directry=/opt/ros/humble/include/moveit_simple_controller_manager
    - --include-directry=/opt/ros/humble/include/rsl
    - --include-directry=/opt/ros/humble/include/geometric_shapes
    - --include-directry=/opt/ros/humble/include/control_toolbox
    - --include-directry=/opt/ros/humble/include/urdf_parser_plugin
    - --include-directry=/opt/ros/humble/include/laser_filters
    - --include-directry=/opt/ros/humble/include/ackermann_steering_controller
    - --include-directry=/opt/ros/humble/include/nav2_behaviors
    - --include-directry=/opt/ros/humble/include/joint_limits_copy
    - --include-directry=/opt/ros/humble/include/moveit_setup_srdf_plugins
    - --include-directry=/opt/ros/humble/include/libyaml_vendor
    - --include-directry=/opt/ros/humble/include/keyboard_handler
    - --include-directry=/opt/ros/humble/include/rosidl_typesupport_interface
    - --include-directry=/opt/ros/humble/include/position_controllers
    - --include-directry=/opt/ros/humble/include/image_publisher
    - --include-directry=/opt/ros/humble/include/rosidl_typesupport_fastrtps_c
    - --include-directry=/opt/ros/humble/include/range_sensor_broadcaster
    - --include-directry=/opt/ros/humble/include/nav2_lifecycle_manager
    - --include-directry=/opt/ros/humble/include/imu_sensor_broadcaster
    - --include-directry=/opt/ros/humble/include/actionlib_msgs
    - --include-directry=/opt/ros/humble/include/moveit_visual_tools
    - --include-directry=/opt/ros/humble/include/libstatistics_collector
    - --include-directry=/opt/ros/humble/include/nav_msgs
    - --include-directry=/opt/ros/humble/include/builtin_interfaces
    - --include-directry=/opt/ros/humble/include/fastrtps
    - --include-directry=/opt/ros/humble/include/bond
    - --include-directry=/opt/ros/humble/include/ogre_helpers
    - --include-directry=/opt/ros/humble/include/hpp
    - --include-directry=/opt/ros/humble/include/smclib
    - --include-directry=/opt/ros/humble/include/nav2_velocity_smoother
    - --include-directry=/opt/ros/humble/include/sensor_msgs
    - --include-directry=/opt/ros/humble/include/gpio_controllers
    - --include-directry=/opt/ros/humble/include/qt_gui_cpp
    - --include-directry=/opt/ros/humble/include/ruckig
    - --include-directry=/opt/ros/humble/include/gripper_controllers
    - --include-directry=/opt/ros/humble/include/ackermann_msgs
    - --include-directry=/opt/ros/humble/include/tracetools_image_pipeline
    - --include-directry=/opt/ros/humble/include/object_recognition_msgs
    - --include-directry=/opt/ros/humble/include/image_geometry
    - --include-directry=/opt/ros/humble/include/action_tutorials_interfaces
    - --include-directry=/opt/ros/humble/include/image_rotate
    - --include-directry=/opt/ros/humble/include/tf2_sensor_msgs
    - --include-directry=/opt/ros/humble/include/pose_broadcaster
    - --include-directry=/opt/ros/humble/include/transmission_interface
    - --include-directry=/opt/ros/humble/include/nav2_costmap_2d
    - --include-directry=/opt/ros/humble/include/joint_state_broadcaster
    - --include-directry=/opt/ros/humble/include/nav2_map_server
    - --include-directry=/opt/ros/humble/include/pilz_industrial_motion_planner
    - --include-directry=/opt/ros/humble/include/rosbag2_storage_default_plugins
    - --include-directry=/opt/ros/humble/include/resource_retriever
    - --include-directry=/opt/ros/humble/include/tf2_kdl
    - --include-directry=/opt/ros/humble/include/karto_sdk
    - --include-directry=/opt/ros/humble/include/nav2_core
    - --include-directry=/opt/ros/humble/include/control_msgs
    - --include-directry=/opt/ros/humble/include/iceoryx
    - --include-directry=/opt/ros/humble/include/rcl_interfaces
    - --include-directry=/opt/ros/humble/include/idlc
    - --include-directry=/opt/ros/humble/include/tf2_eigen
    - --include-directry=/opt/ros/humble/include/nav2_voxel_grid
    - --include-directry=/opt/ros/humble/include/example_interfaces
    - --include-directry=/opt/ros/humble/include/tlsf_cpp
    - --include-directry=/opt/ros/humble/include/intra_process_demo
    - --include-directry=/opt/ros/humble/include/lifecycle_msgs
    - --include-directry=/opt/ros/humble/include/rosbag2_compression
    - --include-directry=/opt/ros/humble/include/urdfdom_headers
    - --include-directry=/opt/ros/humble/include/tl_expected
    - --include-directry=/opt/ros/humble/include/rosbag2_interfaces
    - --include-directry=/opt/ros/humble/include/nav2_amcl
    - --include-directry=/opt/ros/humble/include/moveit
    - --include-directry=/opt/ros/humble/include/rttest
    - --include-directry=/opt/ros/humble/include/octomap
    - --include-directry=/opt/ros/humble/include/rcl
    - --include-directry=/opt/ros/humble/include/pcl_msgs
    - --include-directry=/opt/ros/humble/include/diagnostic_msgs
    - --include-directry=/opt/ros/humble/include/admittance_controller
    - --include-directry=/opt/ros/humble/include/semantic_components
    - --include-directry=/opt/ros/humble/include/rosbag2_cpp
    - --include-directry=/opt/ros/humble/include/pluginlib
    - --include-directry=/opt/ros/humble/include/nav2_theta_star_planner
    - --include-directry=/opt/ros/humble/include/steering_controllers_library
    - --include-directry=/opt/ros/humble/include/depthimage_to_laserscan
    - --include-directry=/opt/ros/humble/include/rmw_fastrtps_shared_cpp
    - --include-directry=/opt/ros/humble/include/ompl-1.6
    - --include-directry=/opt/ros/humble/include/moveit_servo
    - --include-directry=/opt/ros/humble/include/nav_2d_utils
    - --include-directry=/opt/ros/humble/include/diagnostic_updater
    - --include-directry=/opt/ros/humble/include/turtlesim
    - --include-directry=/opt/ros/humble/include/nav2_rviz_plugins
    - --include-directry=/opt/ros/humble/include/unique_identifier_msgs
    - --include-directry=/opt/ros/humble/include/nav2_regulated_pure_pursuit_controller
    - --include-directry=/opt/ros/humble/include/nav2_smac_planner
    - --include-directry=/opt/ros/humble/include/message_filters
    - --include-directry=/opt/ros/humble/include/ddsc
    - --include-directry=/opt/ros/humble/include/visualization_msgs
    - --include-directry=/opt/ros/humble/include/urdfdom
    - --include-directry=/opt/ros/humble/include/behaviortree_cpp_v3
    - --include-directry=/opt/ros/humble/include/forward_command_controller
    - --include-directry=/opt/ros/humble/include/logging_demo
    - --include-directry=/opt/ros/humble/include/velocity_controllers
    - --include-directry=/opt/ros/humble/include/parameter_traits
    - --include-directry=/opt/ros/humble/include/gripper_action_controller
    - --include-directry=/opt/ros/humble/include/joint_limits
    - --include-directry=/opt/ros/humble/include/pcl_conversions
    - --include-directry=/opt/ros/humble/include/vision_msgs
    - --include-directry=/opt/ros/humble/include/rosbag2_transport
    - --include-directry=/opt/ros/humble/include/fake_components
    - --include-directry=/opt/ros/humble/include/dds
    - --include-directry=/opt/ros/humble/include/std_srvs
    - --include-directry=/opt/ros/humble/include/realtime_tools
    - --include-directry=/opt/ros/humble/include/ament_index_cpp
    - --include-directry=/opt/ros/humble/include/teleop_twist_joy
    - --include-directry=/opt/ros/humble/include/rclcpp_action
    - --include-directry=/opt/ros/humble/include/ros_gz_sim
    - --include-directry=/opt/ros/humble/include/nav2_rotation_shim_controller
    - --include-directry=/opt/ros/humble/include/image_transport
    - --include-directry=/opt/ros/humble/include/eigen_stl_containers
    - --include-directry=/opt/ros/humble/include/controller_interface
    - --include-directry=/opt/ros/humble/include/rosbag2_storage
    - --include-directry=/opt/ros/humble/include/gazebo_msgs
    - --include-directry=/opt/ros/humble/include/moveit_setup_assistant
    - --include-directry=/opt/ros/humble/include/image_view
    - --include-directry=/opt/ros/humble/include/nav2_controller
    - --include-directry=/opt/ros/humble/include/dwb_plugins
    - --include-directry=/opt/ros/humble/include/compressed_image_transport
